{erl_opts, [debug_info]}.

%% the plugin itself
 {project_plugins, [rebar3_proper]}.
 %% The PropEr dependency is still required to compile the test cases,
 %% but only as a test dependency
 {profiles,
	 [{test, [
	 {deps, [proper]}
	 ]}
 ]}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["src/*.erl","test/*.erl"]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}
]}.